<md-toolbar class="header-wrapper theme">
  <div class="page">
    <img src="{{headerConfig.companyLogo}}" alt="{{headerConfig.companyName}}" class="logo" *ngIf="headerConfig.companyLogo">
    <div class="company-name">
      <span>{{headerConfig.companyName}}</span>
      <span class="subtitle" *ngIf="headerConfig.subtitle">{{headerConfig.subtitle}}</span>
    </div>

    <span class="spacer"></span>
    <span *ngIf="headerConfig.maintenanceMode" class="maintenance-message">
      {{headerConfig.maintenanceMessage}}
    </span>
  </div>
</md-toolbar>
