.row {
  height: auto;
  width: 30%;
  position: absolute;
  top: 30%;

  h1 {
    font-size: 2.5em;
  }

  .content {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.large-image {
  width: 100%;
}
