@import "../assets/styles/variables";
.header-wrapper {
  margin: 0 5%;
}
.logo {
  height: 40px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

.subtitle {
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

@media only screen and (max-width: $width-480) {
  .logo {
    height: 30px;
  }
  .company-name {
    font-size: 12px;
  }
  .header-wrapper {
    margin: 0;
  }
  .mdl-layout__header-row {
    padding: 0 16px 0 40px;
  }
}

.maintenance-message {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  position: absolute;
  right: 10%;
  top: 20px;
}

@media only screen and (max-width: $width-768) {
  .maintenance-message {
    font-size: 6px;
    top: 35px;
  }
}
