@import "../../assets/styles/variables";
.column-container {
  width: 310px;
  margin: 30px;
  display: inline-block;
  background: $gray900;
  h4 {
    color: white;
  }
}

@media only screen and (max-width: $width-1280) {
  .column-container {
    width: 450px;
  }
}

@media only screen and (max-width: $width-1024) {
  .column-container {
    width: 340px;
  }
}

@media only screen and (max-width: $width-900) {
  .column-container {
    width: 90%;
  }
}

@media only screen and (max-width: $width-640) {
  .column-group-header {
    font-size: 20px;
    font-weight: 700;
  }
}

.column-group-header {
  text-align: center;
}

.column-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid $gray800;
}

.column-title {
  font-weight: 900;
}
