$gray500:               #9E9E9E;
$gray700:               #616161;
$gray800:               #424242;
$gray900:               #607D8B;

$indigo500:             #3F51B5;

$white:                 #FFFFFF;

// Device screen
$width-1280:    1280px;
$width-1024:    1024px;
$width-900:     900px;
$width-768:     768px;
$width-640:     640px;
$width-480:     480px;
